@model IEnumerable<Tower_Section_Catalogue.Models.Shell>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="~/css/Index.css" rel="stylesheet"/>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome!</h1>

<h2> This are the shells available</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope ="col">
                Height 
            </th>
            <th scope="col">
                Bottom Diameter
            </th>
            <th scope="col">
                Top Diameter
            </th >
            <th scope="col">
                Thickness 
            </th>
            <th scope="col">
                Steel Density 
            </th>
            <th scope="col">
                Tower Section 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottomDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thickness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteelDensity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TowerSection.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShellPosition" class="btn btn-secondary">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.ShellPosition" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <div class="buttons">
        <a asp-action="Create" class=" btn btn-primary">Add Tower Section</a>
        <a asp-action="RetrieveByPartNumber" class=" btn btn-primary">Search by Part Number</a>
        <a asp-action="RetrieveByDiameters" class=" btn btn-primary">Search by Diameters</a>
    </div>

</p>
